@import "tailwindcss";

:root {
  --font-heading: var(--font-sora);
  --font-body: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Optional dark mode colors */
  }
}

body {
  font-family: "inter", sans-serif !important;
  background-color: #000; 
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "sora", sans-serif;
}
